body {
    font-family: "Karla", sans-serif;
    line-height: 1.5;

    background-color: #cde4ff;
}

.cabeca {
    font-family: "Nobile", sans-serif;
    background: #d0f5da;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border: 5px solid #41B3A2;
}

.titulo h1 {
    font-size: 30px;
}

div {
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* border: 2px dashed #41B3A2; */
}

h2 {
    border-bottom: 5px solid #6393f8;
    padding-bottom: 10px;
    color: black;
}

p {
    padding: 10px;
    color: black;
}
